@import 'bourbon';

* {
  margin: 0px;
  padding: 0px; }

#adBox {
  width: 300px;
  height: 600px;
  overflow: hidden;
  position: relative;
  visibility: hidden;}

#border {
  width: 298px;
  height: 598px;
  border: 1px solid #000;
  position: absolute;
  z-index: 998; }

#bgExit {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999; }

/*
#logo {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#copy {
  white-space: nowrap;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }
*/

/* add css styles here for banner elements that are not covered by setPos() 
#cta {
  width: 100px;
  height: 20px;
  background-color: #f47b23;
  color: #fff;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }
*/
.fade {
    -webkit-animation: fade .5s;
    animation: fade .5s;
    opacity: 1;
 }

 @-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

#mintCover {
  width: 300px;
  height: 600px;
  background-color: #89AB9E;
}
